* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    color: #333;
}

.container {
    height: 100vh;
    width: 100%;
    max-width: 1920px;
    margin: auto;
    /* overflow: hidden; */
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
    background: yellow;
    color: black;
    gap: 1em;
    text-align: center;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* height: 50%; */
    width: 50%;
    color: black;
    /* padding: 1em; */
    text-align: center;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 50%;
    width: 50%;
    /* background: #333; */
    color: black;
    /* padding: 1em; */
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80%;
    width: 100%;
    /* background: #333; */
    color: black;
    /* padding: 1em; */
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    background: yellow;
    color: black;
    /* padding: 1em; */
    text-align: center;
}