* {
    margin: 0;
    padding: 0;
    background-color: #fcfcfc;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    overflow: hidden;
}

.main {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
    background-color: white;
    border-bottom: #6B8E23 1px solid;
    color: black;
    /* gap: 1em; */
    text-align: center;
}

.btn-group .button {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    cursor: pointer;
    border: #6B8E23 1px solid;
    /* float: left; */
  }

  .btn-group .button:hover {
    background-color: #6B8E23;
  }

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    width: 100%;
    color: black;
    /* padding: 1em; */
    text-align: center;
    background-color: white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    background: white;
    border-top: #6B8E23 1px solid;
    color: black;
    text-align: center;
}